#donor table.warrior {
	line-height: 20px;
	font-size: 11px;
	margin-top: 2em;
	margin-bottom: 20px;
	width: 100%;
}
#donor table.warrior input {
	margin: 1px 0;
	padding: 2px;
}
#donor table.warrior label {
	float: left;
	margin-right: 0.4em; /* IE */
}
#donor table.warrior td > label {
	margin-right: 0.5em;
}
#donor table.warrior td.center,
#donor table.warrior label.center,
#donor table.warrior label.center input {
	text-align: center;
}
#donor table.warrior label input {
	display: block;
}
#donor table.warrior td br {
	clear: both;
}
#donor-name,
#donor-email { width: 15em; }
#donor-city  { width: 12em; }
#donor-state { width:  2em; }
#donor-amount, #donor-submit {
	vertical-align: middle;
}
#donor-amount { font-size: 1.0em; }
#donor-submit { font-size: 1.2em; }
#donor table.warrior tr.controls {
	font-size: 1.6em;
}
#donor table.warrior tr.controls td.submit {
	padding-top: 1em;
}
#donor table.warrior th {
	padding-top: 0.3em;
	font-size: 1.25em;
}
#donor table.warrior th,
#donor table.warrior tr > td {
	white-space: nowrap;
}
#donor table.warrior tr td {
	vertical-align: top;
}
#donor table.warrior tr p {
	white-space: normal;
	margin: 0.3em 0 0.7em;
}
#donor tfoot td {
	padding-top: 2.5em;
}
#donor #pledge { padding-bottom: 1em; }
