#content {
	height: 20em; /* splat min-height hack */
}
#menu ul li a {
	padding: 0.15em 0.4em;
}
ul.xoxo ul.submenu-parent {
	margin-top: -1.1em;
	border-bottom: 0;
}
ul.xoxo ul.submenu-parent li {
	border-top: 0;
	width: 100%;
}
ul.xoxo ul.submenu-parent li a {
	float: left;
	clear: left;
	width: 99%;
	padding: 0.5em 0 0.5em 5px;
}
